.main-gioca {
    min-width: 75%;
    max-width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 60px;
    position: absolute;
    top: 15vh;
    height: 70vh;
}

.contenuto-gioca {
    position: relative;
    background: #0d1734;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 25px;
    min-height: 80%;
    /*text-align: center;*/
}

.title-gioca {
    /*margin-top: 50px;*/
    text-align: center;
    font-size: var(--font-size-xxxxl);
    font-weight: 800;
    font-family: var(--font-family-franklin);
    text-transform: uppercase;
    color: #867935;
}

.content-gioca {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    padding-top: 10px;
    position: relative;
    background: #2f3851;
    /*padding-top: 50px;*/
    border-radius: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.line {
    color: #867935;
    font-size: var(--font-size-medium);
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.first {
    text-align: right;
    width: 48%;
    margin-right: 1%;
}

.second {
    text-align: left;
    width: 48%;
}

.first-user {
    text-align: left;
    width: 80%;
    border-bottom: #867935;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
}

.user {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.user_list {
    text-align: left;
    width: 100%;
    border-bottom: #867935;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    background: linear-gradient(#262f43, #2f3851);
}

.carta {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
}

.carta-img {
    height: 600px;
    transition: visibility 0s, opacity 0.5s linear;
}

#user {
    font-size: var(--font-size-medium);
    width: 80%;
}

#lupo {
    display: none;
    transition: all 1s linear;
}

#lupoMannaro {
    display: none;
}

#puttana {
    display: none;
}

#veggente {
    display: none;
}

#contadino {
    display: none;
}

.start_button {
    display: block;
    margin: 20px auto 20px auto;
    width: 95%;
    height: 50px;
    background-color: var(--red-background);
    border: var(--red-background-dis);
    color: var(--white);
    font-size: var(--font-size-medium);
    border-radius: 90px;
}

.start_button:disabled {
    opacity: 0.59;
}

@media only screen and (max-width: 800px) {
    .title-gioca {
        font-size: var(--font-size-xl);
        font-weight: 800;
    }
}

@media only screen and (max-width: 700px) {
    .main-gioca {
        min-width: 95%;
        max-width: 95%;
    }

    .content-gioca {
        margin: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .carta-img {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .title-gioca {
        font-size: var(--font-size-medium);
        font-weight: 800;
    }
}

/*@media only screen and (max-width: 320px) {*/
/*    .carta-img {*/
/*        height: 300px;*/
/*    }*/
/*}*/